<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"
    package="vn.edu.fpt.prm">
    <!-- Khai báo các quyền -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fvivu"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fvivu"
        android:supportsRtl="true"
        android:theme="@style/Theme.TourBookingSystem"
        tools:targetApi="31">

        <!-- Khai báo các activity-->
        <!-- Launch Activity-->
        <activity
            android:name=".features.game.activities.GameHomeActivity"
            android:exported="false" />
        <activity
            android:name=".features.auth.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Signup Activity -->
        <activity
            android:name=".features.auth.activities.SignupActivity"
            android:exported="false" /> <!-- Tour List Activity -->
        <activity
            android:name=".features.tour.activities.TourListActivity"
            android:exported="false" /> <!-- Tour Detail Activity -->
        <activity
            android:name=".features.tour.activities.TourDetailActivity"
            android:exported="false" />


        <!-- Profile Activity-->
        <activity
            android:name=".features.user.activities.ProfileActivity"
            android:exported="false" />

        <!-- Edit Profile Activity-->
        <activity
            android:name=".features.user.activities.EditProfileActivity"
            android:exported="false" />
    </application>


        <activity
            android:name=".features.game.activities.GameMainActivity"
            android:exported="false" />
        <activity
            android:name=".features.game.activities.GameResultActivity"
            android:exported="false" />
    </application>

</manifest>